package auth_views

import "github.com/Liphium/magic/backend/views/components"

templ LoginView() {
	<div class="flex flex-col items-center justify-center h-screen gap-6">
		<div class="flex items-center justify-center">
			<h1 class="text-center lg:text-left lg:text-5xl lg:leading-[1.2] text-4xl font-pixel font-extrabold hero-gradient">
				Liphium Magic
			</h1>
		</div>
		@components.LinkButtonPrimary("Sign in with GitHub", "https://github.com")
	</div>
}
