package components

templ TextHeroLarge(text string) {
	<h1 class="hero-gradient font-pixel font-extrabold text-5xl w-max leading-[1.2] mb-4">{ text }</h1>
}

templ TextHeroMedium(text string) {
	<h2 class="hero-gradient font-pixel font-extrabold text-4xl w-max leading-[1.2] mb-4">{ text }</h2>
}

templ TextMedium(text string) {
	<h2 class="font-pixel font-extrabold text-4xl leading-[1.2] w-max mb-4">{ text }</h2>
}
